@charset "utf-8";

body{

    margin: 0px;
    padding: 0px;
    background-color: #161616;

}

ul{

    list-style: none;

}

a{

    text-decoration: none;

}

#main{

    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #edf1fd;
    position: relative;
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;

}

nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing:2px;
    font-family: century gothic;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
    z-index: 1;

}

.menu{

    display: flex;

}

.menu li a{

    padding: 10px 15px;
    color: #6c707c;
    font-size: 12px;

}

.contact{

    color: #292929;

}

.logo{

    font-size: 25px;
    font-weight: bold;
    color: #292929;

}

.menu li a:hover,
.active{

    background-color: #292929;
    color: #FFFFFF !important;
    font-weight: 700;
    transition: all ease 0.4s;

}

.name{

    font-family: century gothic;
    width: 500px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%, -50%);

}

.name p:nth-child(1),
.name .details{

    color: #6c707c;
    font-size: 16px;


}

.name h1{

    font-family: century gothic;
    font-size: 40px;
    margin: 0px;
    letter-spacing: 3px;
    color: #292929;

}

.social{

    position: fixed;
    left: 0;
    bottom: 0;
	width: 100%;
	background-color: #f4f7ff;
	padding: 15px 50px;

}

.social a{

    margin: 6px 12px;

}

.social i{

    color:rgba(0, 255, 255, 0.6);
    font-size: 14px;

}

.social a:hover i{

    color: #3cdfff;
    transition: all ease 0.5;

}

.arrow{

    align-self: end;
    width: 50%;
    height: 15%;
    margin-bottom: 4em;
    position: absolute;
    bottom: 0px;
    left: -3%;
    border-right: 1px solid rgba(41, 41, 41, 0.3);

}

.arrow::after{

    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0px 11px;
    border-color: #292929 transparent transparent transparent;
    right: -0.7em;
    bottom: -2px;


}

#about{

    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;

}

.about-text{

    font-family: century gothic;
    width: 50%;

}

.about-text h1{

    font-size: 5rem;
    color: #3cdfff;


}

.about-text h2{

    font-size: 3rem;
    color: #FFFFFF;
    font-weight: 400;

}

.about-text h1,h2{

    margin: 0px;
    padding: 0px;


}

.about-text p{

    font: 1.2rem;
    color:rgba(251, 251, 251, 0.90)

}

.about-text button{

    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #3cdfff;

}

.about-text button:hover{

    background-color: #FFFFFF;
    transition: all ease 0.3s;

}

#hobbies{

    width: 100%;
    height: 100vh;
    font-family: century gothic;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;

}

.h-heading h1{

    color: #FFFFFF;
    font-size: 3rem;
    margin: 0px;
    padding: 0px;

}

.h-heading p{

    color: rgba(251, 251, 251, 0.30);
    font-size: 1rem;
    margin: 0px;
    padding: 0px;


}

.h-heading{

    text-align: center;
    margin: 20px 0px;

}

.h-box{

    background-color: #2b2b2b;
    width: 350px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    position: relative;

}

.h-b-container{

    display: flex;
    justify-content: center;
    align-items: center;

}

.h-b-img{

    width: 100%;
    height: 70%;

}

.h-b-img img{

    width: 100%;
    height: 100%;
    object-fit: cover;

}

.h-b-text{

    width: 100%;
    height: 30%;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;

}

.h-b-text a{

    margin: 0px;
    color: #FFFFFF;
    font-size: 1.1rem;
    font-family: century gothic;
    display: block;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;

}

.h-type{

    font-family: century gothic;
    color: #FFFFFF;
    background-color: #151515;
    padding: 10px 15px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);

}

.h-box:hover{

    transform: translateY(-10px);
    transition: all ease 0.3;

}

.h-b-text a:hover{

    color: rgba(255, 255, 255, 0.50);

}

#portfolio{

    width: 100%;
    box-sizing: border-box;
    font-family: century gothic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 2% 20px 2%;

}

.p-heading{

    font-family: century gothic;
    font-size: 1.7rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #292929;
    letter-spacing: 2px;
    border-radius: 3px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);

}

.p-box{

    background-color: #1f1f1f;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.3);
    position: relative;

}

.p-b-container{

    width: 90%;
    height: 70vh;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

}

.text-overlay{

    font-family: century gothic;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(17, 226, 216, 0.89);
    display: none;

}

.text-overlay h1, p{

    color: #FFFFFF;

}

.text-overlay h1{

    font-size: 2.2rem;
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;

}

.text-overlay p{

    font-size: 1.2rem;
    margin: 0px;

}

.p-box:hover .text-overlay{

    display: flex;

}

.p-box img{

    width: 100%;
    height: 100%;
    object-fit: cover;

}

* {box-sizing:border-box}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: century gothic;
    font-weight: 500;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

#contact-btn h1{

    font-size: 2rem;
    color: #1e1e1e;
    font-family: century gothic;
    margin: 10px;
    padding: 5px;
    letter-spacing: 4px;

}

#contact-btn{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #f4f7ff;
    margin: 20px 0px;
    box-sizing: border-box;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.4);

}

#contact-btn a{

    color: #FFFFFF;
    font-size: 1rem;
    font-family: century gothic;
    width: 150px;
    height: 40px;
    margin: 10px;
    background-color: #1e1e1e;
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

}

#contact-btn a:hover{

    background-color: #3cdfff;
    transition: all ease 0.5s;

}

#contact-form{

    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#contact-form form{

    display: flex;
    width: 70%;
    height: 60vh;
    background-color: #1a1a1a;
    box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.01);

}

.contact-left{

    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact-right{

    width: 60%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgba(255, 255, 255, 0.08);

}

.c-l-heading{

    font-family: century gothic;
    color: #FFFFFF;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 400;

}

.f-email, .f-name{

    display: flex;
    flex-direction: column;
    font-family: century gothic;

}

.f-email font,
.f-name font{

    color: #bfbfbf;
    font-size: 22px;

}

.f-email input,
.f-name input{

    height: 30px;
    width: 250px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #929292;
    color: #FFFFFF;
    margin: 10px 0px;

}

.f-email input::placeholder,
.f-name input::placeholder{

    opacity: 0.5;
    letter-spacing: 1px;

}

.f-email input:focus,
.f-name input:focus{

    border-bottom: 1px solid #3cdfff;
    transition: all ease 0.5s;

}

.message font{

    font-size: 18px;
    color: #4e4e4e;
    font-family: century gothic;

}

.message{

    margin: 20px;
    display: flex;
    flex-direction: column;

}

.contact-right textarea{

    width: 100% !important;
    height: 320px !important;
    border: none;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
    color: #ebebeb;
    font-size: 16px;

}

.contact-right textarea::placeholder{

    color: #ebebeb;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: century gothic;

}

.contact-right button{

    width: 100%;
    height: 50px;
    background-color: #3cdfff;
    font-weight: bold;
    outline: none;
    border: none;
    margin: 0px;
    color: #1b1b1b;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

@media(max-width: 1190px){

    #main{

        background-size: 1150px;

    }

    .name{

        left: 10%;
        top: 50%;
        transform: translate(-10%, -50%);

    }

    .about-model img{

        height:400px;

    }

    #hobbies{

        height: auto;

    }

    .h-b-container{

        flex: wrap;

    }

    .h-box{

        flex-grow: 1;

    }

    .h-b-text{

        text-align: center;

    }

    #contact-form{

        width: 95% !important;

    }

    @media(max-width: 970px){

        #main{

            background-image: none !important;

        }

        .name{

            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

        }

        .about-model{   

            display: none;

        }

        #about{

            justify-content: center;
            padding-top: 0px;

        }

        .about-text{

            width: 90%;

        }

        .about-text h1{

            font-size: 4rem;

        }

        .p-b-container{

            width: 100%;

        }

    }

}

* {
    box-sizing: border-box;
  }
  
  .timeline {
    padding: 200px 50px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 5px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #55ffff;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  a{

    text-decoration: none;
    color: white;

  }

  .left {
    left: 0;
  }
  
  .right {
    left: 50%;
  }
  
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  .right::after {
    left: -16px;
  }
  
  .content {
    color:white;
    padding: 20px 30px;
    background-color:#292929;
    font-family: Century Gothic;
    position: relative;
    border-radius: 6px;
  }
  
  @media screen and (max-width: 600px) {
    .timeline::after {
      left: 31px;
    }
  
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
    .left::after, .right::after {
      left: 15px;
    }
  
    .right {
      left: 0%;
    }
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  .vcontent {
    position: fixed;
    font-family: century gothic;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 40px;
  }
  
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    font-family: century gothic;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    transition: all ease 0.5;
  }
  
  #myBtn:hover {
    transition: all ease 0.5;
    background: #ddd;
    color: black;
  }